@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

/* .main-div {
   display: flex;
   align-items: center;
   margin: auto;
   
  } */
  
.cover {
  box-sizing: border-box;
  width: 450px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #ACAE8C;
  background: linear-gradient(90deg, rgba(125,126,103,1) 0%, rgba(172,174,140,1) 10%, rgba(172,174,140,1) 100%);
  border-right: 5px solid #E8D2A1;    
  border-radius: 5px 40px 40px 5px;
  box-shadow: -10px 0px 5px rgba(0,0,0,.3);
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.cover h4 {
  text-decoration: line-through;
}

.backCover {
  box-sizing: border-box;
  width: 450px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #ACAE8C;
  background: linear-gradient(270deg, rgba(125,126,103,1) 0%, rgba(172,174,140,1) 10%, rgba(172,174,140,1) 100%);
  border-left: 5px solid #E8D2A1;    
  border-radius: 40px 5px 5px 40px;
  box-shadow: -10px 0px 5px rgba(0,0,0,.3);
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.footer {
  color: white;
}

.inside {
  display: flex;
  box-sizing: border-box;
  height: 600px;
  width: 900px;
  margin:auto;
  margin-top: 50px;
}

.leftPage{
  box-sizing: border-box;
  width: 450px;
  height: 600px;
  background-color: #E8D2A1;
  background: linear-gradient(270deg, rgba(143,130,100,1) 0%, rgba(182,168,137,1) 2%, rgba(232,210,161,1) 10%, rgba(237,210,161,1) 100%);
  border: 0px solid #E8D2A1;
  border-radius: 40px 0px 0px 40px;
}

.notepad {
  box-sizing: border-box;
  margin: auto;
  padding-top: 15px;
  width: 90%;
}

.rightPage{
  box-sizing: border-box;
  width: 450px;
  height: 600px;
  background-color: royalblue;
  background: linear-gradient(90deg, rgba(143,130,100,1) 0%, rgba(182,168,137,1) 2%, rgba(232,210,161,1) 10%, rgba(237,210,161,1) 100%);
  border: 0px solid #E8D2A1;
  border-radius: 0px 40px 40px 0px;
}

/* .right-top {
  background-color: seagreen;
} */

.checklist {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 20px;
  /* margin: auto;
  width: 90%; */
  height: 300px;
  overflow: auto;
}

.list-item {
  display: inline-block;
  width: 100%;
}

.list-item p {
  display: inline;
  text-align: left;
}

/* .item-checkbox {
  float: left;
} */

.item-text {
  float: left;
}

.item-buttons {
  float: right;
  display: inline;
}

.journal {
  padding-left: 30px;
  height: 300px;
  overflow: auto;
}
/* .right-bottom {
  background-color:thistle;
} */