@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.main {
   display: flex;
   align-items: center;
   margin: auto;
   
  }
  
.cover {
  box-sizing: border-box;
  width: 450px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #ACAE8C;
  border: 0px solid #ACAE8C;    border-radius: 0px 40px 40px 0px;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.cover h4 {
  text-decoration: line-through;
}

